<!-- ======= Header ======= -->
<title><%= title %></title>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center" style="background-color: #32599c;">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <a class="navbar-brand me-3" href="/">
          <img src="/logo.webp" alt="Logo" width="200" height="48" class="d-inline-block align-text-top">
        </a>
        <a href="/" class="fs-3 fw-bold text-white">| SIBER CSMS</a>
      </div>

      <nav id="navbar" class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link scrollto active" href="/dashboard_divisi">Dashboard</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dataMitraDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Data Mitra
              </a>
              <ul class="dropdown-menu" aria-labelledby="dataMitraDropdown">
                <li><a class="dropdown-item" id="menu-data-mitra" href="/data/hseplan_data">Data Mitra-HSE Plan</a></li>
                <li><a class="dropdown-item" id="menu-data-mitra" href="/data/psb_data">Data Mitra-PSB</a></li>
                <li><a class="dropdown-item" id="menu-data-mitra" href="/data/pa_data">Data Mitra-PA</a></li>
                <li><a class="dropdown-item" id="menu-data-mitra" href="/data/pb_data">Data Mitra-PB</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
          </ul>
        </div>
      </nav>
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->