<!-- ======= Header ======= -->
<title><%= title %></title>

<header
  id="header"
  class="d-flex align-items-center"
  style="background-color: #32599c"
>
  <div class="container d-flex align-items-center">
    <div class="d-flex">
      <h1 class="logo me-auto">
        <a class="navbar-brand me-3" href="/">
          <img
            src="/logo.png"
            alt="Logo"
            width="200"
            height="48"
            class="d-inline-block align-text-top"
          />
        </a>
      </h1>
      <a href="/" class="fs-3 fw-bold text-white">| SIBER CSMS</a>
    </div>

    <!-- Uncomment below if you prefer to use an image logo -->

    <nav id="navbar" class="navbar ms-auto">
      <ul>
        <li><a class="nav-link scrollto active" href="/dashboard_divisi">Dashboard</a></li>
        <li class="dropdown"><a href="#"><span>Data Mitra</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a  id="menu-data-mitra" href="/data/hseplan_data">Data Mitra-HSE Plan</a></li>
                <li><a  id="menu-data-mitra" href="/data/psb_data">Data Mitra-PSB </a></li>
                <li><a  id="menu-data-mitra" href="/data/pa_data">Data Mitra-PA</a></li>
                <li><a  id="menu-data-mitra" href="/data/pb_data">Data Mitra-PB </a></li>
            </ul>
        </li>

        
        <li><a href="/logout">Log Out</a></li>
        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->