<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%-include('partials/links'); %>

</head>
<body>
    <%-include('partials/header'); %>


      <!-- ======= Hero Section ======= -->
  <section id="hero" class="mb-5">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/img/slide/pertamina-field1.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Selamat Datang <span></span></h2>
              <h3 class="animate__animated animate__fadeInDown text-white">di Sistem Informasi Verifikasi Berkas CSMS Pertamina Limau Field</h3>
              <p class="animate__animated animate__fadeInUp">Melalui platform ini, kami berkomitmen untuk memastikan setiap proses verifikasi CSMS (Contractor Safety Management System) berlangsung dengan lancar dan memenuhi standar keselamatan tertinggi. </p>
              <a href="#heroCarousel" role="button" data-bs-slide="next" class="btn-get-started animate__animated animate__fadeInUp scrollto">Baca Lanjut</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/img/slide/pertamina-field2.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Apa Tujuan Utama?</h2>
              <p class="animate__animated animate__fadeInUp">Tujuan utama dari pengembangan sistem ini adalah untuk menyederhanakan dan mempercepat proses verifikasi berkas CSMS, sehingga memungkinkan tim verifikasi dan pemangku kepentingan terkait dapat dengan lebih cepat dan efektif memastikan kepatuhan terhadap standar keselamatan dan kesehatan kerja. </p>
              <a href="#heroCarousel" role="button" data-bs-slide="next" class="btn-get-started animate__animated animate__fadeInUp scrollto">Baca Lanjut</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/img/slide/pertamina-field1.png)">
          <div class="carousel-container">
            <div class="container">
              <!-- <h2 class="animate__animated animate__fadeInDown"></h2>
              <p class="animate__animated animate__fadeInUp">Pada laman informasi ini kami menyediakan beberapa beberapa topik yang dibahas dan hal yang tidak dipatuhi oleh masyarakat sekitar dan sanksi seperti apa yang diberikan berdasarkan UU  . </p> -->
              <a href="#berita"  class="btn-get-started animate__animated animate__fadeInUp scrollto">Menuju Sesi Login</a>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>


    </div>
  </section><!-- End Hero -->


  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services section-bg">
      <div class="container">
        <div class="row">

        </div>
      </div>
    </section><!-- End Featured Services Section -->



    <!-- ======= About Us Section ======= -->
    <section id="berita" class="about">
      <div class="container">

        <div class="section-title">
          <h2>LOGIN SEBAGAI</h2>
          <p>Silahkan memilih opsi berikut</p>
          
          <div class="mt-2">
            <a href="/login_pertamina" class="btn btn-access-login" id="pertamina-opsi" style="padding: 14px 15px;">Pertamina</a>
            <a href="/form_mitra" class="btn btn-access-login" id="mitra-opsi">Mitra</a>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->





    <!-- ======= Cta Section ======= -->
    <section id="topik" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>TENTANG KAMI</h3>
            <!-- <p>Topik utama yang diangkat di laman informasi hukum merupakan permasalahan yang diangkat dari keseharian yang ada di lingkungan sekitar.</p> -->
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <!-- <a class="cta-btn align-middle" href="#finaltopik" >MASUK TOPIK UTAMA </a> -->
            
          </div>
        </div>
      </div>
    </section><!-- End Cta Section -->

  
      
      <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row">

          <div class="col-lg-12 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>-</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>-</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p></p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.6288485952623!2d104.22628953551637!3d-3.440129546745966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e3a324fcedb63fb%3A0xe4bd5ac3986994f6!2sPT%20PERTAMINA%20EP%20ASSET%202%20LIMAU%20FIELD!5e0!3m2!1sen!2sid!4v1700820721821!5m2!1sen!2sid" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
</body>
</html>