<form action="/postPA" id="paForm" method="POST" role="form" class="php-email-form hidden" enctype="multipart/form-data">
  <h3>Data Usulan PA</h3> 
  <hr>

  <div class="row">
      <div class="form-group col-md-6">
          <label for="risk_assessment_id">Risk Assessment ID</label>
          <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Assessment ID" type="text" name="risk_assessment_id" class="form-control custom-tooltip" id="risk_assessment_id" required>
      </div>
      <div class="form-group col-md-6 mt-3 mt-md-0">
          <label for="risk_level">Risk Level</label>
          <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Risk Level" type="text" class="form-control custom-tooltip" name="risk_level" id="risk_level" required>
      </div>
  </div>

  <div class="form-group mt-3">
      <label for="nomor_kontrak">Nomor Kontrak</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nomor Kontak" type="text" class="form-control custom-tooltip" name="nomor_kontrak" id="nomor_kontrak" required>
  </div>

  <div class="form-group mt-3">
      <label for="nama_pekerjaan">Nama Pekerjaan</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nama Pekerjaan" type="text" class="form-control custom-tooltip" name="nama_pekerjaan" id="nama_pekerjaan" required>
  </div>

  <div class="form-group mt-3">
      <label for="tanggal_penilaian">Tanggal Penilaian</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Tanggal Penilaian" type="date" class="form-control custom-tooltip" name="tanggal_penilaian" id="tanggal_penilaian" required>
  </div>

  <div class="form-group mt-3">
      <label for="no_hp">Nomor Handphone / No WA</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data No HP" type="number" class="form-control custom-tooltip" name="no_hp" id="no_hp" required>
  </div>

  <div class="form-group mt-3">
      <label for="alamat_email">Alamat E-Mail Mitra</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Email" type="email" class="form-control custom-tooltip" name="alamat_email" id="alamat_email" required>
  </div>

  <div class="form-group mt-3">
      <label for="temuan">Temuan</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Temuan" type="text" class="form-control custom-tooltip" name="temuan" id="temuan" required>
  </div>

  <div class="form-group mt-3">
      <label for="fungsi_dituju2" class="text-capitalize">Pilih Fungsi yang Dituju</label>
      <select name="fungsi_dituju2" class="form-select" id="fungsi_dituju2" required>
          <option value="">-</option>
          <option value="ICT">ICT</option>
          <option value="WIWS">WIWS</option>
          <option value="PE">PE</option>
          <option value="RAM">RAM</option>
          <option value="PRODUKSI">PRODUKSI</option>
          <option value="SCM">SCM</option>
      </select>
      <small class="form-text text-muted d-block mt-2">*) Pilih fungsi yang sesuai dengan berkas</small>
  </div>

  <!-- * berkas PA -->
  <h3>Upload Berkas PA</h3>

  <div class="form-group mt-3">
      <label for="file1" class="text-capitalize">Berkas - kepemimpinan dan komitmen</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file1" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="form-group mt-3">
      <label for="file2" class="text-capitalize">Berkas - kebijakan & sasaran strategi K3LL</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file2" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="form-group mt-3">
      <label for="file3" class="text-capitalize">Berkas - organisasi, tanggung jawab, sumber daya, standar & dokumentasi</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file3" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="form-group mt-3">
      <label for="file4" class="text-capitalize">Berkas - Manajemen Resiko</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file4" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="form-group mt-3">
      <label for="file5" class="text-capitalize">Berkas - prosedur kerja K3LL</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file5" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="form-group mt-3">
      <label for="file6" class="text-capitalize">Berkas - implementasi & pemantauan kinerja K3LL</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file6" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="form-group mt-3">
      <label for="file7" class="text-capitalize">Berkas - audit dan tinjauan manajemen K3LL</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file7" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="form-group mt-3">
      <label for="file8" class="text-capitalize">Berkas - manajemen K3LL & pencapaian lainnya</label>
      <input type="file" class="form-control" accept=".pdf" name="files" id="file8" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
  </div>

  <div class="my-3">
      <div class="loading">Loading...</div>
      <div class="error-message"></div>
      <div class="sent-message">Your message has been sent. Thank you!</div>
  </div>

  <style>
      /* Gaya untuk tombol dinonaktifkan */
      button:disabled {
          background-color: #ccc; /* Warna abu-abu untuk tombol dinonaktifkan */
          cursor: not-allowed; /* Mengubah kursor menjadi not-allowed saat tombol dinonaktifkan */
      }
  </style>

  <div class="text-center"><button class="btn-green" type="submit">Kirim</button></div>
</form>
