<form action="/postPB" id="pbForm" method="post" role="form" class="php-email-form hidden" enctype="multipart/form-data">
    <h3>Data Usulan PB</h3>
    <hr>

    <div class="row">
      <div class="form-group col-md-6">
        <label for="name">Risk Assessment ID</label>
        <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Assessment ID" type="text" name="risk_assessment_id" class="form-control custom-tooltip" id="name" required>

      </div>
      <div class="form-group col-md-6 mt-3 mt-md-0">
        <label for="name">Risk Level</label>
        <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Risk Level" type="text" class="form-control custom-tooltip" name="risk_level" id="email" required>
      </div>
    </div>

    <div class="input-group mb-3 mt-3">
      <label class="input-group-text" for="inputGroupSelect02">PB</label>
      <select class="form-select" name="kategori_pb" id="inputGroupSelect02">
        <option selected>Pilih kategori PB</option>
        <option value="PB1">PB 1</option>
        <option value="PB2">PB 2</option>
        <option value="PB3">PB 3</option>
        <option value="PB4">PB 4</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="name">Nomor Kontrak</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nomor Kontak" type="text" class="form-control custom-tooltip" name="nomor_kontrak" id="subject" required>
    </div>
    
    <div class="form-group mt-3">
      <label for="name">Nama Kontraktor</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Nama Kontraktor" type="text" class="form-control custom-tooltip" name="nama_kontraktor" id="subject" required>
    </div>

    <div class="form-group mt-3">
      <label for="name">Tanggal Penilaian</label>
      <input type="date" class="form-control custom-tooltip" name="tanggal_penilaian" id="subject" required>
    </div>

    <style>
      /* Add this CSS to your stylesheet or in the head of your HTML document */
      .radio-group {
        display: flex;
        justify-content: space-between;
      }

      .radio-container {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .radio-container input {
        opacity: 0;
        cursor: pointer;
        margin-right: 5px; /* Adjust the margin to your preference */
      }

      .checkmark {
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
        margin-right: 5px; /* Adjust the margin to your preference */
      }

      .radio-container:hover .checkmark {
        background-color: #ccc;
      }

      .radio-container input:checked + .checkmark {
        background-color: #4CAF50;
      }

      .radio-container input:checked + .checkmark:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
      }
    </style>

    <div class="form-group mt-3">
      <label for="name">Nomor Handphone / No WA</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data No HP" type="number" class="form-control custom-tooltip" name="no_hp" id="no_hp" required>
    </div>

    <div class="form-group mt-3">
      <label for="name">Alamat E-Mail Mitra</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Email" type="email" class="form-control custom-tooltip" name="alamat_email" id="alamat_email" required>
    </div>


    <div class="form-group mt-3">
      <label for="name">Temuan</label>
      <input data-bs-toggle="tooltip" data-bs-title="Keterangan : Isi Data Temuan" type="text" class="form-control custom-tooltip" name="temuan" id="temuan" required>
    </div>
    

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Pilih Fungsi yang Dituju</label>

      <select name="fungsi_dituju2" class="form-select" id="">
        <option value="-">-</option>
        <option value="HSSE">HSSE</option>
        <option value="ICT">ICT</option>
        <option value="WIWS">WIWS</option>
        <option value="PE">PE</option>
        <option value="RAM">RAM</option>
        <option value="PRODUKSI">PRODUKSI</option>
        <option value="SCM">SCM</option>
      </select>
      <small class="form-text text-muted d-block mt-2">*) Pilih fungsi yang sesuai dengan berkas</small>
   </div>


    <hr>

    <!-- * berkas PB -->
    <h3>Upload Berkas PB</h3>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - kepemimpinan dan komitmen</label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - kebijakan & sasaran strategi K3LL</label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - organisasi, tanggung jawab, sumber daya, standar & dokumentasi </label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - Manajemen Resiko</label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - prosedur kerja K3LL </label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - implementasi & pemantauan kinerja K3LL</label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - audit dan tinjauan manajemen K3LL</label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div class="form-group mt-3">
      <label for="name" class="text-capitalize">Berkas - manajemen K3LL & pencapaian lainnya</label>
      <input type="file" class="form-control" accept=".pdf" name="files" required>
      <div class="form-text" id="basic-addon4">* File PDF ( ukuran file maksimal 3 Mb).</div>
    </div>

    <div  class="text-center">
      <button type="submit" class="btn-green">Kirim</button>
    </div>
  </form>